<% include ./partials/header%>

<div class="ui main text container segment">
    <div class="ui huge header"><%= recipe.name%></div>
    <div class=" ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%=recipe.image%>">

            <div class="description">
                <p><%= recipe.description%></p>
            </div>
            <a href="/<%= recipe._id%>/edit" class="ui violet inverted button">Edit Recipe</a>
            <form id = 'delete' action = '/<%= recipe._id%>?_method=DELETE' method = 'POST'>
                <button class = 'ui red basic button'>Delete Recipe</button>

            </form>
        </div>
    </div>



</div>

<% include ./partials/footer%>